menu "MQTT Configuration"
    config MQTT_URI
        string "Uri para conexão do MQTT"
        default "mqtt://"
        help
            Uri para conexão do MQTT (sem a porta).
    config MQTT_USERNAME
        string "Username de acesso ao dispositivo"
        default "chavedeacesso"
        help
            Chave de acesso ao dispositivo, pode ser gerada no ThinksBoard.
endmenu

menu "Energy/Battery Mode Configuration"
    config BATTERY_MODE
        bool "Boleano para definir modo de bateria"
        default n
        help
            Define o dispositivo para modo de bateria, caso contrário estará no modo de energia.
endmenu

menu "DPP Configuration"
    config ESP_DPP_LISTEN_CHANNEL_LIST
        string "DPP Listen channel list"
        default "6"
        help
            DPP Bootstrapping listen channels separated by commas.

    config ESP_DPP_BOOTSTRAPPING_KEY
        string "Bootstrapping key"
        default "0"
        help
            64 hex digits (or 32 bytes) of raw private key for DPP Bootstrapping.

    config ESP_DPP_DEVICE_INFO
        string "Additional Device Info"
        default ""
        help
            Additional ancillary information to be included in QR Code.
endmenu